.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../assets/images/logistics-bg.png") center/cover no-repeat;
    position: relative;
}

.login-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.login-box {
    position: relative;
    z-index: 2;
    width: 400px;
    background: rgba(15, 23, 42, 0.85);
    /* Modern slate dark */
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 16px;
    text-align: center;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.login-box img {
    width: 80px;
    margin-bottom: 10px;
}

.logo-text {
    color: #FFD700;
}

.tagline {
    color: #00e5ff;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background: #ff9800;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover {
    background: #ff5722;
}

.register-text {
    margin-top: 10px;
}

.register-text a {
    color: #00e5ff;
    font-weight: bold;
}
.login-box select{
width:100%;
padding:10px;
margin:10px 0;
border-radius:6px;
border:1px solid #ccc;
font-size:16px;
background:#f9f9f9;
cursor:pointer;
transition:0.3s;
}

.login-box select:hover{
border:1px solid #3a7bd5;
}

.login-box select:focus{
outline:none;
border:1px solid #3a7bd5;
box-shadow:0 0 5px rgba(58,123,213,0.5);
}